// UTILITIES

// Image Replace
@mixin imgRep(){
  text-indent: -9999px;
  overflow: hidden;
}

//REM
@function rem($pxsize) { @return ($pxsize/16)+rem; }

//BLEND MASK
@mixin blendmask($color, $opacidade, $img:false) {

    @if $img != false {
        background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    }

    background-color: rgba($color, $opacidade);
    mix-blend-mode: multiply;
    content: "";
    left: 0;
    position: absolute;
    top: 0;
}

