// **
// Color Scheme 0.0.1
// Scheme from colors for the project
//
// From DEV Undergrond
// Participants: Jonas Sousa, Allef Silva
//
// We use two variables:
// $colors  - Map from colors default from the project.
// $palette - Tonality from the colors primarys, secondarys, etc.
// **

// Project colors
// Map from colors default from the project.

$colors: (
  black: #000000,
  blackLight: #383838,
  blue: #1fa7e6,
  blueLigth: #0e6ed6,
  blueDarken: #001950,
  gray: #535454,
  grayDarken: #555555,
  grayLight: #909090,
  green: #39c481,
  orange: #ff8e50,
  white: #ffffff,
  yellow: #ffb700,
  pink: #dd2f79,
  purple: #b457db,
  btns: (
    primary: #39c481,
    secondary: silver,
    gray: #393a38,
    white: #fff,
    blue: #1fa7e6,
    green: #39c481,
    purple: #b457db,
    orange: #ff8e50,
    yellow: #f5b038,
    pink: #ed145b,
    black: #383838
  ),
  titles: (
    gray: #6f6f6f,
    white: #fff,
    blue: #00bba3,
    green: #00b45b,
    orange: #ff6b12,
    yellow: #f5b038,
    pink: #ed145b,
    purple: #b457db
  ),
  semantic: (
    sucess: #12bc00,
    info: #0a84ff,
    warning: #2e2d2c,
    error: #d70022
  ),
  main: (
    primary: #5bcd85,
    secondary: #ff9053,
    terciary: #1fa7e6
  )
);

// Color = cl
// Colors function
@function cl($color-name, $color-variant: null) {
  // color variant is optional
  @if ($color-variant != null) {
    @if map-has-key($colors, $color-name) {
      @return map-get(map-get($colors, $color-name), $color-variant);
    }
  } @else {
    @return map-get($colors, $color-name);
  }

  @warn "Unknown `#{$color-name}` in $palettes.";
  @return null;
}

// Construction
@mixin make-color($name: color) {
  @each $theme in map-keys($colors) {
    @each $length in map-get($colors, $theme) {
      @if (length($length) >= 2) {
        .#{$name}-#{$theme}-#{ nth($length, 1) },
        %#{$name}-#{$theme}-#{ nth($length, 1) } {
          color: nth($length, 2);
        }
      } @else {
        .#{$name}-#{$theme} %#{$name}-#{$theme} {
          color: #{nth($length, 1)};
        }
      }
    }
  }
}

// @include make-color($prefix + 'color');
