//Container Pd
.container-pd {
  .container {
    padding: 0 rem(30);

    @include respond-to(md) {
      padding: 0 rem(50);
    }
  }
}

// ANIMACARDS
// .animacards {
//     .#{$prefix}-viagem, .#{$prefix}-excursoes-card {

//         &:nth-child(1n+1){
//             animation: 1s .3s fadeIn both;
//         }

//         &:nth-child(2n+2){
//             animation: 1s .3s fadeIn both;
//         }

//         &:nth-child(3n+3){
//             animation: 1s .3s fadeIn both;
//         }

//         &:nth-child(4n+4){
//             animation: 1s .3s fadeIn both;
//         }

//         @include respond-to(sm){
//             &:nth-child(1n+1){
//                 animation: 1s .5s bounceInUp both;
//             }

//             &:nth-child(2n+2){
//                 animation: 1s .6s bounceInUp both;
//             }

//             &:nth-child(3n+3){
//                 animation: 1s .7s bounceInUp both;
//             }

//             &:nth-child(4n+4){
//                 animation: 1s .8s bounceInUp both;
//             }
//         }
//     }
// }

// GLOBAL PLACEHOLDERS

// AnimaBG
%animabg {
  //   @include transition(0.28s);
}

//No padding
%nopd {
  padding: 0;
}

// Center Block
%centerBlock {
  display: block;
  margin: {
    right: auto;
    left: auto;
  }
}

//Float Left
%floatLeft {
  float: left;
}

//Box Full
%boxFull {
  @extend %floatLeft;
  width: 100%;
}

// img prop
%imgProp {
  @include size(100%, auto);
}

// Transition
%transitionAll {
  transition: all 0.2s ease-in-out;
}

%transition {
  transition: all 500ms ease;
}

// Transition
%centerPositionAll {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
