//==========================================================================
// RESET / RESET GLOBAL DEFAULT
//==========================================================================

@charset "UTF-8";

*,
*:after,
*::before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 16px;
  min-width: 240px;
  height: 100%;
  font-family: $font-default;
  // overflow-x: hidden;
}

body {
  overflow-x: hidden;

  > main {
    flex-grow: 1;
  }

  > footer {
    margin-top: auto;
  }
}

//H1, H2, H3
%headers {
  font: {
    family: $font-header;
    weight: 700;
  }
}

@each $header, $size in (h1: 40, h2: 35, h3: 27) {
  #{$header} {
    @extend %headers;
    font-size: rem($size);
    line-height: 1;
  }
}

// Ul
ul {
  list-style-type: none;
  padding: 0;
}

// Link
a {
  text-decoration: none;
}

// text
.#{$prefix}-text {
  display: block;
  font-size: rem(16);
  color: cl(grayLight);
  line-height: 1.8;

  @include m("two-column") {
    @include respond-to("lg") {
      column-count: 2;
      column-gap: 70px;
    }
  }

  p + p {
    margin-top: rem(30);
  }
}

.container {
  padding-right: 20px;
  padding-left: 20px;

  @include respond-to("lg") {
    padding-right: 50px;
    padding-left: 50px;
  }
}
