//==========================================================================
// VARIAVEIS
// Definição das variavéis do Tema
// Não remover nenhuma das variavéis para evitar crash do SASS
//==========================================================================

// FONTS
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900&display=swap");

//light - regular - semi-bold - bold
$font-padrao: "Nunito";
$font-bold: $font-padrao;
$font-light: $font-padrao;

$font-default: $font-padrao, Arial, helvetica, sans-serif !default;
$font-secundaria: $font-padrao !default;
$font-header: $font-bold;
$font-contacts: $font-padrao;

// DEFAULT RADIUS
$border-radius: 5px;

// CSS VARS
//==========================================================================
$i: !important;
$t: transparent;
