/*------------------
|	BUTTONS
|------------------*/
$mods: purple white black green gray blue orange pink primary;

.#{$prefix}-btn {
  $self: &;

  background: cl(btns, primary);
  color: cl(white);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  width: auto;
  letter-spacing: 1px;
  padding: rem(20) rem(30);
  font-family: $font-light;
  border: 0;
  border-radius: 50px;
  font-weight: bold;

  img {
    margin-right: rem(10);
  }

  &:hover {
    background: darken(cl(btns, primary), 10%);
    transition: all 0.6s;
  }

  @each $color in $mods {
    @include m($color) {
      background-color: cl(btns, $color) $i;

      @if $color == white {
        color: cl(black) $i;
      }

      &:hover {
        background-color: darken(cl(btns, $color), 15%) $i;
      }
    }

    @include m("seta-" + $color) {
      &:after {
        color: cl(btns, $color);
        content: ">";
        font-size: rem(24);
        margin-left: 15px;
      }
    }
  }

  @include m("gray") {
    padding: rem(15) rem(40);

    &:after {
      content: ">";
      font-size: rem(24);
      margin-left: 15px;
    }
  }

  @include m("small") {
    padding: 10px 25px;
  }

  @include m("medium") {
    padding: 10px 15px;
    letter-spacing: initial;
  }

  @include m("text") {
    background-color: transparent;
    color: #333;
    max-width: rem(300);
    cursor: pointer;

    &:hover {
      background-color: transparent;
    }
  }
}

//BTN LOAD APIS
.loading-btn {
  width: auto;
  color: cl(white);
  margin: rem(30);
  background: transparent;
  padding: rem(10) rem(35);
  cursor: pointer;
  border: 0;
  @include fonts(600, 15, $font-light);
  background: {
    image: url("../images/ajax-loader-api-static.png");
    repeat: no-repeat;
  }
  &.loading {
    background-image: url("../images/ajax-loader-api.gif");
  }
}
