//FORM
.#{$prefix}-form {
  input,
  textarea {
    width: 100%;
  }

  textarea {
    resize: none;
    max-height: rem(150);
    border: 0;
    border-radius: 6px;
    padding: 15px;
    font-family: 'arial', sans-serif;
    font-size: 16px;
  }

  button,
  input[type="submit"] {
    font-size: rem(16);
  }

  .form-row {
    display: block;
    margin-bottom: rem(16);

    label {
      font-size: rem(16);
      display: block;
      margin-bottom: rem(5);

      small {
        font-size: rem(12);
        color: #8c8c8c;
      }
    }

    &--submit {
      position: relative;

      .ajax-loader {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: {
          repeat: no-repeat;
          position: 95% center;
        }
        pointer-events: none;
      }
    }
  }

  .form-control {
    &--radio {
      display: flex;
      align-items: center;

      span.wpcf7-list-item {
        margin: 0;
      }

      .wpcf7-list-item label {
        display: flex;
        align-items: center;
        margin-right: rem(16);
      }

      .wpcf7-list-item-label {
        margin-left: rem(20);
        font-size: rem(16);
      }
    }
  }

  /// modificadores
  @include m("outline") {
    input:not([type="submit"]),
    textarea {
      display: block;
      border: 2px solid cl(white);
      padding: rem(20) rem(40);
      font-size: rem(16);
      background-color: transparent;
      color: cl(white);
      border-radius: 30px;
      @include placeholder-text {
        font-weight: 300;
        color: white;
      }
    }

    input[type="submit"] {
      max-width: 140px;
      margin-left: auto;
    }
  }

  // green
  @include m("green") {
    border-radius: rem(10);
    padding: rem(30) rem(30) rem(15);
    background-color: cl(main, primary);
    border: 1px solid #61f988;

    legend {
      display: block;
      font-size: rem(20);
      text-align: center;
      margin-bottom: rem(30);
      font-weight: 700;
      color: cl(white);

      strong {
        font-weight: 900;
      }
    }

    input:not([type="submit"]) {
      padding: rem(20);
      border-radius: 5px;
      border: 0;
      font-size: rem(16);
      color: cl(blackLight);
      background: {
        repeat: no-repeat;
        position: 23px center;
        color: cl(white);
      }
    }

    .#{$prefix}-btn {
      background-color: #27723b !important;
    }
  }

  @include m("gray") {
    legend {
      display: block;
      font-size: rem(20);
      text-align: center;
      margin-bottom: rem(30);
      font-weight: 700;
      color: cl(white);

      strong {
        font-weight: 900;
      }
    }

    input:not([type="submit"]),
    textarea,
    .#{$prefix}-select {
      padding: rem(20) rem(25);
      border-radius: 5px;
      border: 1px solid #d7d7d7;
      font-size: rem(16);
      color: cl(blackLight);
      background: {
        repeat: no-repeat;
        color: #f5f5f5;
      }
    }

    .#{$prefix}-select {
      padding: 0;

      select {
        color: #383838;
        padding-left: rem(20);
      }

      &:after {
        width: 8px;
        height: 8px;
        border-color: #4e4e4e;
      }
    }

    .#{$prefix}-btn {
      max-width: rem(165);
    }
  }

  // filter
  @include m("filter") {
    .#{$prefix}-btn {
      width: 100%;
      max-width: initial;
    }
  }

  // icon
  @include m("icon") {
    input:not([type="submit"]) {
      padding-left: rem(60);
    }

    input[name="nome"] {
      background-image: url("../images/icon-people.png");
    }

    input[name="email"] {
      background-image: url("../images/icon-carta.png");
    }

    input[name="telefone"] {
      background-image: url("../images/icon-telefone.png");
    }
  }
}

//CF7
.wpcf7 {
  @extend %boxFull;
}

div.wpcf7-mail-sent-ok {
  border: none;
  color: cl(semantic, sucess);
  color: #00c445;
}

div.wpcf7-validation-errors {
  border: none;
  color: cl(semantic, error);
  display: none$i;
}

div.wpcf7-response-output {
  margin: 0;
  font-size: 13px;
  text-align: center;
  margin: 0;
  background: lighten(cl(main, secondary), 5%);
  color: cl(black);
  padding: rem(10);
  border-radius: rem(5);
  border: 1px dashed cl(white);
  width: 100%;

  &.wpcf7-mail-sent-ok {
    background: lighten(cl(semantic, sucess), 5%);
    color: cl(white);
  }

  &.wpcf7-validation-errors {
    background: lighten(cl(semantic, error), 5%);
    color: cl(main, primary);
  }
}

.wpcf7-not-valid {
  border: 1px solid cl(semantic, error) $i;
}

.wpcf7-not-valid-tip {
  display: none $i;
  color: #c40000 $i;
  font-size: 12px $i;
}

#contato_curso {
  &:first-child() {
    content: "opcao";
  }
}

div.wpcf7-response-output.wpcf7-validation-errors {
  background: #f10026;
  color: #ffffff;
  margin: 0 auto;
}
