.mfp-modal {
  @include m("table") {
    display: table;
  }

  @include m("video") {
    height: rem(250);
    max-width: 88%;
    margin: 0;
    padding: 0;
    margin: 0px auto;
    position: relative;
    background: rgba(cl(white), 0);

    @include respond-to(sm) {
      @include size(880px, 520px);
    }

    // @extend %loadWhite;

    .mfp-close {
      color: cl(white) $i;
      margin-top: -38px;
      font-size: 35px;
      background: #000;
      width: 35px;
      height: 35px;
      line-height: 1;
    }
  }
}

.youtube__iframe {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: rem(25);
  height: 0;
  z-index: 99;

  &.load {
    background: cl(black);
    // @extend %loadWhite;
  }
}
.ap-single__content {
  .youtube__iframe {
    &.load {
      background: none;
      // @extend %loadPrimaria;
    }
  }
}
.youtube__iframe iframe {
  @include size(100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
