.owl-carousel {
  .owl-controls {
    @extend %boxFull;
  }

  .owl-nav {
    display: block;
  }

  .owl-prev {
    &:before {
      // @include icone($fa-var-angle-left);
    }
  }

  .owl-next {
    &:before {
      // @include icone($fa-var-angle-right);
    }
  }

  .owl-prev,
  .owl-next {
    @include size(50px);
    border-radius: 50%;
    position: absolute;
    display: block;
    z-index: 999;
    top: 50%;
    font-size: 0;
    height: 31px;
    width: 18px;
    left: -35px;
    transform: translateY(-50%);
    transition: all 0.2s ease-in-out;

    @include respond-to(lg) {
      //left: -9%;
    }

    &:before {
      @extend %centerPositionAll;
      color: cl(gray);
      font-size: rem(48);
      z-index: 99;
    }

    &:hover,
    &:focus {
      // background-color: rgba($cor-primaria, .9);
    }
  }

  .owl-next {
    left: auto;
    right: -35px;
  }

  .owl-dots {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding-top: rem(25);
  }

  .owl-dots .owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: lighten(cl(gray), 45%);
    margin: 0 5px;

    &.active {
      background-color: lighten(cl(gray), 15%);
    }
  }

  //Branco
  &.owl-white {
    .owl-prev,
    .owl-next {
      &:before {
        color: cl(white);
      }
    }
    .owl-dots .owl-dot {
      background-color: lighten(cl(white), 45%);

      &.active {
        background-color: lighten(cl(white), 15%);
      }
    }
  }
}
