

.postnav {
    @extend %boxFull;
    margin: rem(20) 0;
    padding: rem(15);
    text-align: center;

    @include e('pag') {

        display: none;

        @include respond-to(sm) {
            display: block
        }

    }

    @include e('wp') {
        display: block;

        @include respond-to(sm) {
            display: none;
        }
    }

    @include e('item') {
        // @include col(1/2);
        display: inline-block;
        color: cl(white);
        background: cl(main, secondary);
        padding: rem(25);
        text-align: center;

        a {
            color: cl(white);
        }

        @include m('disable') {
            pointer-events: none;
            cursor: default;
            opacity: 0.2;
        }
    }
}

.wp-pagenavi {
    // text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 30px;

    a, span {
        @include fonts(400, 15);
        @include radius(8px);
        color: cl(main, primary);
        background-color: rgba(cl(black), .1);
        border: 0 $i;
        padding: 8px 12px;
        margin-right: 5px;

        &:hover {
            background-color: cl(main, secondary);
            color: cl(white);
        }

        &.current{
            color: cl(white);
            background-color: cl(main, primary);
            cursor: pointer;

            &:hover {
                color: cl(white);
                background-color: cl(main, primary);
            }
        }
    }

    .pages, .last {
        display: none;
    }
}

.navwp {
    // @include center(320px);
    max-width: rem(500);
    width: 100%;
    margin: 0 auto;
}

.btn-wrap {

    text-align: center;
    margin-top: rem(20);

    > .btn {
        background: cl(main, primary);
        color: cl(white);
    }
}