.wpcontent {
    p {
        margin-bottom: rem(20);
    }
}

.post-thumbnail {
    display: block;
}

.post-thumbnail img {
    display: block;
    max-width: 100%;
    height: auto;
}

.no-sidebar .post-thumbnail img {
    margin: 0 auto;
}

a.post-thumbnail:hover,
a.post-thumbnail:focus {
    opacity: 0.85;
}

.entry-content img {
    margin: 0 0 1.5em 0;
}
.alignleft, img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left;
}
.alignright, img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right;
}
.aligncenter, img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
}
.alignnone, img.alignnone {
    /* not sure about this one */
}
.wp-caption {
    margin-bottom: 1.5em;
    text-align: center;
    padding-top: 5px;
    width: 100% $i;
}
.wp-caption img {
    border: 0 none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    @include respond-to(md){
        width: initial;
    }
}
.wp-caption p.wp-caption-text {
    line-height: 1.5;
    font-size: 10px;
    margin: 0;
}

.wp-smiley {
    margin: 0 $i;
    max-height: 1em;
}

blockquote.left {
    margin-right: 20px;
    text-align: right;
    margin-left: 0;
    width: 33%;
    float: left;
}
blockquote.right {
    margin-left: 20px;
    text-align: left;
    margin-right: 0;
    width: 33%;
    float: right;
}

.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

//Galeria
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.gallery dl {
    display: flex;
    width: calc((100%/5) - 10px);
    margin: 15px 5px;
}

.gallery dt {
    @include size(100%, 150px);
    background: red;
}

.gallery dt a {
    @include size(100%);
    position: relative;
    display: block;
}

.gallery dt img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery dd {}
.gallery-caption {}