.#{$prefix}-capa {
  $self: &;
  position: relative;

  @include respond-to("maxTablet") {
    overflow: hidden;
  }

  > * {
    position: relative;
    z-index: 3;
  }

  &:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(cl(black), 0.52);
  }

  .container {
    display: flex;
    height: 100%;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  @include e("thumbnail") {
    z-index: 1;
    height: 100%;
    overflow: hidden;
    height: rem(140);
    
    @include respond-to(sm) {
      height: inherit;
    }

    img {
      display: block;
      transform: translate(-50%);
      left: 50%;
      position: relative;
      height: 100%;
      max-width: 100%;
      object-fit: cover;
    }
  }

  @include e("title") {
    font-size: rem(24);
    font-weight: bold;
    color: cl(white);
    margin-top: auto;
    margin-bottom: rem(30);
  }

  // modificadoers
  @include m("planos-para-voce") {
    @include respond-to("maxTablet") {
      padding-top: rem(30);

      .row {
        flex-direction: column-reverse;
      }

      .#{$prefix}-box-cta {
        padding: rem(30);
      }

      .container {
        position: relative;
      }

      @include e("thumbnail", $self) {
        position: absolute;
        top: 0;
      }
    }

    @include respond-to("lg") {
      height: rem(660);

      .row {
        width: 100%;

        > div:last-child {
          display: flex;
        }
      }
    }

    .wpcf7 {
      margin-top: rem(30);
    }
  }

  @include m("planos-empresa") {
    @include respond-to("lg") {
      height: rem(757);
    }

    @include respond-to("maxTablet") {
      padding-top: rem(30);

      .row {
        flex-direction: column-reverse;
      }

      .#{$prefix}-box-cta {
        padding: rem(30);
      }

      .container {
        position: relative;
      }

      @include e("thumbnail", $self) {
        position: absolute;
        top: 0;
      }
    }

    &:after {
      background-color: rgba(cl(black), 0.67);
    }

    .row {
      @include respond-to("lg") {
        width: 100%;
      }

      > div:last-child {
        display: flex;
        align-items: center;
      }
    }
  }
}
