// section sobre home
.cta-especialista {
  $self: &;
  padding: rem(120) 0;

  .#{$prefix}-title {
    margin-bottom: rem(45);

    strong {
      display: block;
    }
  }

  .#{$prefix}-text {
    margin-bottom: rem(50);
    max-width: rem(355);
  }

  .#{$prefix}-btn {
    max-width: rem(256);
  }

  // Modificadores
  @include m("small") {
    @include respond-to("maxTablet") {
      .row {
        flex-direction: column-reverse;
      }

      .box-retangulo {
        width: initial;
        height: initial;

        .img-maks {
          width: initial;
          height: initial;
          transform: scale(0.9) $i;
        }
      }
    }

    .#{$prefix}-title {
      font-size: rem(36);
      line-height: 1.2;
      margin-bottom: rem(25);
    }

    .#{$prefix}-text {
      max-width: initial;
      margin-bottom: rem(25);
    }

    .#{$prefix}-btn {
      padding-top: rem(10);
      padding-bottom: rem(10);
    }
  }
}

.box-elevate {
  position: absolute;
}

.box-animate {
  position: relative;

  &.active {
    .box-animate-level {
      opacity: 1;
    }

    .box-animate-level1 {
      transform: translateX(5%);
    }

    .box-animate-level2 {
      transform: translateX(-10%);
    }

    .box-animate-level3 {
      transform: translateY(-10px);
    }

    .box-animate-level4 {
      animation: brilho 5s cubic-bezier(0.04, 0, 0.2, 1) infinite;
    }

    .box-animate-level5 {
      animation: brilho 6s 1.3s cubic-bezier(0.04, 0, 0.2, 1) infinite;
    }

    .box-animate-level6 {
      animation: brilho 5s 0.6s cubic-bezier(0.04, 0, 0.2, 1) infinite;
    }

    .box-animate-level7 {
      animation: brilho 6s 1s cubic-bezier(0.04, 0, 0.2, 1) infinite;
    }
  }

  &-level {
    transition: opacity 0.6s cubic-bezier(0.04, 0, 0.2, 1),
      transform 0.6s cubic-bezier(0.04, 0, 0.2, 1);
    will-change: opacity, transform;
  }

  &-level1 {
    transform: translateX(0%);
  }

  &-level2 {
    position: absolute;
    position: absolute;
    top: 35px;
    opacity: 0;

    z-index: -1;
  }

  &-level3 {
    bottom: 45px;
    right: 30px;
    opacity: 0;
  }

  &-level4 {
    right: 0;
    bottom: 30px;
    opacity: 0;
    transform: scale(0);
  }

  &-level5 {
    top: 10%;
    opacity: 0;
    transform: scale(0);
  }

  &-level6 {
    top: 45%;
    z-index: 9;
    opacity: 0;
    transform: scale(0);
  }

  &-level7 {
    top: 25%;
    right: 0;
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes brilho {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
