.#{$prefix}-footer {
  float: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  @include respond-to(md) {
    
    margin-top: 90px;

  }

  @include e("infos") {
    display: block;
    width: 100%;
    //background: #3cd87d;
    background: #3cd87d url("../images/bg-rodape.png") center top no-repeat;
    padding-top: 30px;
    padding-bottom: 30px;
    
    @include respond-to(md) {
      padding-top: 150px;
      height: auto;
      background-color: transparent;
      position: relative;

      &:after {
        content: '';
        background: #3cd87d;
        width: 100%;
        position: absolute;
        height: 142px;
        bottom: 0;
        z-index: -1;


        @include respond-to(lg) {
          bottom: 6px;
        }
      }
    }
  }

  @include e("tit") {
    font-size: rem(18);
    font-weight: 900;
    color: cl(white);
    display: block;
    margin-bottom: rem(15);
    letter-spacing: 1px;
    position: relative;

  
    @include respond-to("lg") {
      font-size: rem(20);
    }

    
    &:after {
      content: "";
      width: 10px;
      height: 10px;
      display: block;
      position: absolute;
      top: calc(50% - 5px);
      right: 15px;
      border-right: 2px solid #fff;
      border-bottom: 2px solid #fff;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      
      @include respond-to(sm) {
        content: none;
      }
    }

    @include respond-to("lg") {
      margin-bottom: rem(40);

  
      &:after {
        display: none;
      }
    }

    @include m("small") {
      font-size: rem(16);
    }
  }

  @include e("telefones") {
    color: cl(white);

    li {
      display: flex;
      flex-direction: column;
      margin-bottom: rem(15);

      h6 {
        margin-bottom: 0;
      }
    }

    span {
      font-size: rem(16);
      font-weight: 300;
    }

    strong {
      font-size: rem(20);
    }
  }

  @include e("end") {
    color: cl(white);
    font-size: rem(16);
    font-weight: 300;
    line-height: 1.2;
    font-style: normal;
    
    @include respond-to(sm) {
      margin-bottom: rem(30);
    }
  }

  @include e("email") {
    display: block;
    color: cl(white);
    font-size: rem(16);
    font-weight: 300;
    line-height: 1.2;
    margin-top: rem(30);
    margin-bottom: rem(30);
  }

  @include e("cred") {
    background-color: cl(white);
    padding: rem(15) 0;
    border-bottom: 3px solid cl(main, primary);

    @include respond-to("lg") {
      padding-top: rem(30);
      padding-bottom: rem(30);
    }
  }

  @include e("text") {
    display: none;
    align-items: center;

    @include respond-to("lg") {
      display: flex;
    }
  }

  @include e("logo") {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      max-width: rem(170);
    }

    img {
      max-width: 100%;
    }
  }

  @include e("logos") {
    display: flex;
    align-items: center;
    justify-content: center;

    @include respond-to("lg") {
      justify-content: flex-end;
    }

    img {
      margin: 10px;

      @include respond-to("lg") {
        margin-left: 0 0 0 rem(30);
      }
    }
  }

  @include e('cvtt') {
    width: 100%;
    float: left;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .link {
      line-height: 1;
    }

    img {
      background: #444444;
    }
  }
}

.#{$prefix}-menu-footer {
  @include e("item") {
    display: block;
    margin-bottom: rem(20);

    a {
      display: flex;
      align-items: center;
      font-size: rem(16);
      font-weight: 300;
      color: cl(white);
      cursor: pointer;

      &:after {
        content: "";
        margin-left: rem(8);
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: cl(white);
        opacity: 0;
        transition: all 0.2s ease-in-out;
      }

      &:hover {
        &:after {
          opacity: 1;
        }
      }
    }
  }
}


.#{$prefix}-bloco-contatos {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  
  @include respond-to(sm) {
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  

  @include e('item') {
    width: 100%;
    
    @include respond-to(sm) {
      width: 50%;
      margin-bottom: rem(60);
    }
    
    @include respond-to(md) {
      width: 24%;
    }

    @include respond-to(lg) {
      width: rem(280);
    }
   

    &:last-child {
      margin-right: rem(0);
    }


    a {
      color: white;
      font-weight: 100;

    }
  }
}




.#{$prefix}-footer-lista-contato {
  width: 100%;
  float: left;
  display: none;
  margin-bottom: 20px;
  
  @include respond-to(sm) {
    margin-bottom: 0;
    display: block $i;
  }

  @include e('item') {
    margin-bottom: rem(15);
    
    &:last-child {
      margin-bottom: rem(0);
    }
  }

  .title {
    color: white;
    font-size: rem(16);
    font-weight: 100;
    margin-bottom: 5px;
  }
  
  .fone {
    color: white;
    font-size: rem(20);
    font-weight: 700;
  }

}

.#{$prefix}-apps-icons {
  width: 380px;
  height: auto;
  padding: 15px;
  background: #04723e;
  position: fixed;
  bottom: 35px;
  right: 0px;
  border-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: 0;
  flex-direction: column;
  justify-content: space-between;
  display: flex;

  &:before {
    content: '';
    background: url('../images/app.PNG') no-repeat;
    height: 200px;
    width: 110px;
    display: block;
    background-size: cover;
    position: absolute;
    top: -85px;
    box-shadow: 0 3px 6px 1px rgba(88, 88, 88, 0.49);
    border-radius: 10px;
    right: 10px;
  }

  .title {
    color: white;
    font-size: rem(20);
    font-family: 'arial', sans-serif;
  }

  @include e('txt') {
    width: 300px;
    float: left;

  }

  .legend {
    margin: 10px 0 0;
    width: 230px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .link {
    
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 2px 10px;
    display: block;
    width: 110px;
    float: left;
    background: black;
    border-radius: 2px;

    @include m('appstore') {
      &:hover {
        background: #0b0b0b;
      }
    }

    @include m('playstore') {
      background: #4CAF50;
      
      &:hover {
        background: #318b35;
      }

    }
  }

  .close {
    width: 20px;
    height: 20px;
    display: flex;
    background: red;
    color: #fff;
    position: absolute;
    top: -8px;
    cursor: pointer;
    left: -8px;
    align-items: center;
    justify-content: center;
    border-radius: 11px;
  }
}