.#{$prefix}-header {
  $self: &;

  z-index: 99;
  background: cl(white);
  width: 100%;
  border-top: rem(3) solid cl(main, primary);
  padding: rem(16) 0 rem(30);
  box-shadow: 0 0 23px 18px rgba(cl(black), 0.08);

  @include e("row") {
    display: flex;
    align-items: center;
  }

  @include e("logo") {
    align-self: center;
    margin: rem(10) 0 rem(20);

    @include respond-to(lg) {
      align-self: inherit;
      max-width: rem(210);

      img {
        width: 100%;
        max-width: rem(230);
      }
    }

    @include respond-to(lg) {
      max-width: rem(250);

      img {
        max-width: 100%;
      }
    }

    a {
      display: block;
    }
  }

  @include e("wrap") {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: rem(20);
  }

  @include e("firstline") {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  @include e("secondline") {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: rem(25);
  }

  @include e("top") {
    border-bottom: 1px solid rgba(cl(gray), 0.3);
    display: flex;
    justify-content: flex-end;
    margin-bottom: rem(20);
    padding: 20px 0;
  }

  @include e("actions") {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    li {
      margin-left: rem(20);
    }
  }

  // modificadores
  @include m("desktop") {
    display: none;

    @include respond-to("md") {
      display: block;
    }
  }

  @include m("mobile") {
    padding: 15px;

    > .container {
      display: flex;
      align-items: center;
      padding: 0;

      > * {
        width: 100%;
      }
    }

    @include respond-to("md") {
      display: none;
    }

    // logo
    @include e("logo", $self) {
      margin: 0;

      img {
        max-width: 100%;
      }
    }
  }
}

.menu-hamburguer {
  position: relative;
  width: 20px;
  border: 0;
  background-color: $t;
  cursor: pointer;

  &__item {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333;
    border-radius: 3px;

    &:not(:last-child) {
      margin-bottom: 3px;
    }
  }
}

.#{$prefix}-fone {
  display: flex;
  font-size: rem(24);
  align-items: center;
  font-style: normal;

  
  .link {
    color: cl(btns, black) $i;
  }
  img {
    margin-right: rem(15);
  }
}
