.#{$prefix}-list-icons {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: rem(30);

  @include respond-to("lg") {
    margin-top: 0;
    justify-content: flex-start;
  }

  @include e("item") {
    display: flex;
    align-items: center;
    margin-right: rem(20);

    &:nth-child(4) {
      margin-right: 0;
    }
  }

  @include e("link") {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    font-size: rem(23);
    color: cl(main, primary);
    background-color: cl(white);
    border-radius: 50%;

    @include respond-to("lg") {
      width: 45px;
      height: 45px;
    }
  }
}
