.#{$prefix}-list-mark {
  display: flex;
  flex-direction: column;

  li {
    display: flex;
    align-items: center;
    font-size: rem(18);
    font-weight: bold;
    color: #595959;
    margin-bottom: rem(20);

    &:before {
      content: "";
      width: rem(18);
      height: rem(10);
      border-left: 2px solid #595959;
      border-bottom: 2px solid #595959;
      display: block;
      margin-right: rem(20);
      transform: rotate(-45deg);
    }
  }
}
