.#{$prefix}-menu {
  $self: &;
  display: none;

  @include respond-to(sm) {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  @include e(item) {
    position: relative;
    padding: 15px 0;

    @include respond-to(sm) {
      margin-left: rem(20);
    }

    @include respond-to(md) {
      margin-left: rem(50);
    }

    &:first-child {
      margin-left: 0;
    }

    > ul {
      display: none;
    }

    a {
      display: block;
      color: cl(btns, black);
      font-size: rem(16);
      font-weight: 700;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        bottom: -15px;
        left: 0;
        right: 0;
        margin: 15px auto 0;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: cl(main, primary);
        opacity: 0;
        transform: scale(0);
        transition: all 0.2s ease-in-out;
      }
    }

    //COMPORTAMENTO HOVER
    &:hover,
    &--active {
      a {
        &:after {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }
}

// menu small
.#{$prefix}-menu-small {
  $self: &;

  display: flex;
  justify-content: space-between;
  width: 100%;

  @include e("item") {
    margin-left: rem(15);
    position: relative;

    &:hover > ul {
      opacity: 1;
      visibility: visible;
    }

    a {
      display: flex;
      align-items: center;
      font-size: rem(14);
      font-weight: 600;
      color: cl(titles, gray);
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }

      &:before {
        margin-right: rem(10);
      }
    }
  }

  @include e("sub-menu") {
    border-radius: 5px;
    background-color: cl(main, primary);
    width: 150px;
    position: absolute;
    top: calc(100% + 5px);
    left: calc(50% - 75px);
    z-index: 9;
    opacity: 0;
    visibility: hidden;

    &:before {
      content: "";
      border: {
        style: solid;
        width: 5px;
        color: transparent transparent cl(main, primary) transparent;
        display: block;
      }

      position: absolute;
      top: -10px;
      left: calc(50% - 5px);
    }


    @include e("item", $self) {
      margin-left: 0;
      text-align: left;
      overflow: hidden;

      a {
        padding: rem(5) rem(10);
        font-size: rem(12);
        color: #fff;
        overflow: hidden;

        &:hover {
          text-decoration: none;
          background-color: rgba(#000, 0.1);
        }
      }
    }
  }

  @include m("inactive") {
    > a {
      pointer-events: none;
    }
  }

  @include m("sou-cliente") {
    a {
      &:before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url("../images/icones/icon-pessoas.png");
      }
    }
  }

  @include m("sou-dentista") {
    a {
      &:before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url("../images/icones/icon-dentista.png");
      }
    }
  }
}

// menu mobile
.#{$prefix}-menu-mobile {
  width: 100%;
  display: block;

  a {
    font-size: 16px;
    color: #444;
    display: block;
    padding: 15px;
  }

  li > ul {
    display: none;
    padding-left: 15px;

    &.active {
      display: block;
    }

    a {
      font-size: rem(14);
      color: #8e8e8e;
    }
  }

  li.odonto-menu-mobile__item--parent {
    > a {
      position: relative;

      &.active {
        &:after {
          top: 50%;
          transform: rotate(-135deg);
        }
      }

      &:after {
        content: "";
        width: 10px;
        height: 10px;
        display: block;

        position: absolute;
        top: calc(50% - 5px);
        right: 15px;
        border-right: 2px solid rgba(#000, 0.5);
        border-bottom: 2px solid rgba(#000, 0.5);
        transform: rotate(45deg);
      }
    }
  }
}



.btn-consulta-show {
  //background-color: #5bcd85;
  width: 190px;
  position: absolute;
  top: 47px;
  left: 15px;
  z-index: 9;
  background: #5bcd85;
  border-radius: 6px;
 
  
 
  
  &:before{
    content: "";
    border: 5px solid transparent;
    border-bottom-color: #5bcd85;
    border-display: block;
    position: absolute;
    top: -10px;
    left: calc(50% - 5px);
  }
  
  @include e('item') {
    display: flex;
    
    position: relative;
    border-radius: 5px;
    z-index: 99;
    background: #5bcd85;
    
    &:last-child() {
      margin-bottom: 0;
    }
  }
  
  @include e('link') {
    font-size: 16px;
    text-align: center;
    color: #fff;
    line-height: 1;
    padding: 12px;
    width: 100%;

    &:hover {
      background: #3d935d;
      border-radius: 5px;
    }

  }
}

