.planos {
  align-items: stretch;

  > li {
    white-space: initial;
    display: flex;
    flex-direction: column;
  }
}

.#{$prefix}-plano {
  $self: &;
  $pdDefault: 50;

  display: flex;
  flex-direction: column;
  border: 1px solid #e6e6e6;
  border-radius: rem(30);
  margin-bottom: rem(15);
  background-color: cl(white);
  flex-grow: 1;

  @include e("header") {
    padding: rem(20) rem(30);
    border-bottom: 1px solid #e6e6e6;

    display: flex;
    align-items: center;
    justify-content: center;

    @include respond-to("lg") {
      padding-right: rem($pdDefault);
      padding-left: rem($pdDefault);
    }
  }

  @include e("titles") {
    font-size: rem(36);
    font-weight: 900;

    display: inline-flex;
    flex-direction: column;
    margin: 0 auto;

    h2 {
      font-size: inherit;
      font-weight: inherit;
    }

    span {
      font-size: rem(16);
      font-weight: bold;
      text-align: right;
      color: #383838;
    }
  }

  @include e("content") {
    padding: rem(40) rem($pdDefault) rem(40);
  }

  @include e("footer") {
    padding-right: rem(30);
    padding-left: rem(30);
    padding-bottom: rem(20);
    margin-top: auto;

    @include respond-to("lg") {
      padding-right: rem($pdDefault);
      padding-left: rem($pdDefault);
    }

    .#{$prefix}-btn {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  // modificadores
  @include m("primary") {
    @include e("titles", $self) {
      h2 {
        color: cl(main, primary);
      }
    }

    .#{$prefix}-list-mark {
      li:before {
        border-color: cl(main, primary);
      }
    }
  }

  @include m("secondary") {
    @include e("titles", $self) {
      h2 {
        color: cl(main, secondary);
      }
    }

    .#{$prefix}-list-mark {
      li:before {
        border-color: cl(main, secondary);
      }
    }
  }

  @include m("terciary") {
    @include e("titles", $self) {
      h2 {
        color: cl(main, terciary);
      }
    }

    .#{$prefix}-list-mark {
      li:before {
        border-color: cl(main, terciary);
      }
    }
  }
}

.#{$prefix}-obs {
  display: block;
  font-size: rem(12);
  color: #8c8c8c;

  @include respond-to(sm) {
    font-size: rem(20);
    text-align: center;
  }
}
