.#{$prefix}-servicos {
  display: inline-flex;
  font-size: rem(16);
  background: #ffa777 url("../images/icon-mark.png") 20px center no-repeat;
  border-radius: rem(30);
  font-weight: 900;
  color: #fff;
  padding: rem(10) rem(40) rem(10) rem(60);
  letter-spacing: 1px;
  margin-bottom: rem(15);
}
