.sheetside {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  &.active {
    z-index: 9;

    .sheetside__content {
      transform: translateX(0);
      box-shadow: 0 0 23px 18px rgba(0, 0, 0, 0.08);
    }

    .sheetside__close {
      transform: scale(1);
      opacity: 1;
    }

    .sheetside__overlay {
      opacity: 1;
    }
  }

  &__content {
    width: 75%;
    height: 100%;
    background-color: #f9f9f9;
    transition: transform 0.2s;
    transform: translateX(-100%);

    display: flex;
    flex-direction: column;

    nav {
      background-color: #fff;

      &:last-child {
        border-top: 1px solid #ddd;
        background: #f9f9f9;
      }
    }
  }

  &__header {
    display: block;
    background-color: #39c481;
  }

  &__body {
    flex-grow: 1;
    overflow: auto;
  }

  &__close {
    position: fixed;
    top: 10px;
    left: 80%;
    color: #fff;
    font-size: 35px;
    line-height: 1;

    // hidde
    transform: scale(0);
    opacity: 0;
    transition: all 0.2s;
  }

  &__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;

    opacity: 0;
    transition: all 0.2s;
  }
}

[data-side-open],
[data-side-close] {
  display: none;
}

@include respond-to("maxTablet") {
  [data-side-open],
  [data-side-close] {
    display: flex;
  }

  .side {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;

    overflow: auto;
    padding: 30px;

    pointer-events: none;
    transform: translate(-100%);
    transition: transform 0.2s;

    &.active {
      transform: translate(0);
      pointer-events: initial;
      z-index: 99;
    }

    &__close {
      display: block;
      margin-bottom: 30px;
    }
  }
}
