.#{$prefix}-slides {
  $self: &;

  position: relative;
  color: cl(white);
  width: 100%;
  max-width: rem(640);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: rem(80) auto;

  @include e("figure") {
    display: block;
    margin-bottom: rem(20);
  }

  @include e("title") {
    @include fonts(900, 32, $font-light);
    color: cl(white);
    line-height: 1;

    display: block;
    margin-bottom: rem(30);

    @include respond-to("lg") {
      font-size: rem(55);
    }
  }

  @include e("subtitle") {
    @include fonts(700, 16);
    color: #2f392d;
    line-height: 1;
    display: block;
    margin-bottom: rem(15);

    @include respond-to("lg") {
      font-size: rem(18);
    }
  }

  @include e("btn") {
    border: 0;
    margin-top: rem(20);
  }
}

// controls
.#{$prefix}-slides-owl {
  .owl-next,
  .owl-prev {
    &:after {
      color: cl(white);
      display: block;
      font-size: rem(34);

      @include respond-to("lg") {
        font-size: rem(54);
      }
    }
  }

  .owl-prev {
    left: 0;

    &:after {
      content: "<";
    }
  }

  .owl-next {
    right: 0;

    &:after {
      content: ">";
    }
  }
}
