.#{$prefix}-titles {
  .#{$prefix}-title {
    display: block;
    margin-bottom: rem(10);
  }

  @include m("small") {
    .#{$prefix}-title {
      font-size: rem(36);
      margin-bottom: rem(40);
    }
  }

  @include m("center") {
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: rem(545);
  }
}

.#{$prefix}-title {
  font-size: rem(38);
  font-weight: 900;
  color: cl(blackLight);

  @include respond-to("lg") {
    font-size: rem(48);
  }

  strong {
    font-weight: inherit;
  }

  @include m("center") {
    text-align: center;
  }

  @include m("small") {
    font-size: rem(18) $i;
    font-weight: 400;
  }

  @include m("primary") {
    strong {
      color: cl(main, primary);
    }
  }

  @include m("secondary") {
    strong {
      color: cl(orange);
    }
  }

  @include m("color-black") {
    color: cl(blackLight);

    strong {
      color: cl(green);
    }
  }

  @include m("color-white") {
    color: cl(white);
  }

  @include m("color-orange") {
    color: cl(orange);

    strong {
      color: #383838;
    }
  }

  @include m("color-green") {
    color: cl(main, primary);

    strong {
      color: cl(blackLight);
    }
  }

  @include m("color-purple") {
    color: cl(titles, purple);

    strong {
      color: cl(blackLight);
    }
  }

  // strong
  @include m("strong-purple") {
    strong {
      color: cl(purple);
    }
  }

  @include m("strong-orange") {
    strong {
      color: cl(orange);
    }
  }
}
