

.#{$prefix}-article {
  display: flex;
  flex-direction: column;
  padding-top: rem(50);
  padding-bottom: rem(50);
}

.#{$prefix}-article--planos {
  padding: rem(100) 0;

  .#{$prefix}-title {
    font-size: rem(36);
    margin-bottom: rem(70);
  }

  .box-center {
    display: flex;
    justify-content: center;
    margin: rem(60) auto rem(20);
  }
}

@import "frontpage";
@import "vantagens";
@import "planos-familia";
@import "planos-empresa";
@import "sobre";
@import "contato";
@import "perguntas";
@import "blog";
@import "rede-credenciada";
@import "tabelas";
