.#{$prefix}-blog-card {
  $self: &;
  width: 100%;
  border-radius: rem(5);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: rem(15);
  padding-bottom: rem(15);
  //border-bottom: 1px solid #ddd;
  
  @include e("figure") {
    width: 250px;
    flex: none;
    overflow: hidden;
    max-width: 100%;
    height: rem(280);
    margin-bottom: 15px;
    

    
    a {
      display: flex;
      height: 100%;
    }
    
    img {
      @extend %imgProp;
      object-fit: cover;
    }
  }
  
  @include e("detalhes") {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    text-align: left;
    width: 100%;
    align-items: flex-start;
    
    @include respond-to(md) {
      padding: rem(20);
    }
  }
  
  @include e("desc") {
    @include fonts(300, 16, $font-default);
    color: rgba(cl(gray), 0.6);
    margin-bottom: rem(15);
  }
  
  @include e('btn') {
    max-width:200px; 
    max-height:40px;
    background: #393a38;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    float: left;
    width: auto;
    letter-spacing: 1px;
    padding: rem(15) rem(25);
    border: 0;
    border-radius: 50px;
    font-weight: 700;


    &:after {
      content: ">";
      color: #ff8e50;
      font-size: 1.5rem;
      margin-left: 15px;
    }



  }
  @include e("categoria") {
    background: cl(gray);
    border-radius: rem(5);
    color: cl(white);
    display: flex;
    font-size: rem(13);
    font-weight: 300;
    padding: rem(8);
    width: auto;
  }

  @include e("title") {
    @include fonts(800, 23, $font-default);
    color: #383838;
    text-align: left;
    width: 100%;
    margin: 0 0 rem(10);
    line-height: rem(30);
    
    @include respond-to(sm) {
      font-size: rem(26);
    }
    
    @include respond-to(md) {
      font-size: rem(30);
    }
    
    &:hover {
      color: cl(main, primary);
    }
    
    a {
      display: flex;
      color: inherit;
    }
  }
  
  @include e("data") {
    color: rgba(cl(gray), 0.8);
    font-size: rem(12);
    margin-top: auto;
    color: rgba(83,84,84,.8); 
    
    @include respond-to(sm) {
      
    }
    
    @include respond-to(md) {
      margin-top: -8px;
      font-size: .89em; 
    }
  }
  
  // modificadores
  @include m("small") {
    @include respond-to(sm) {
      flex-direction: row;
    }
    
    @include e("figure", $self) {
      @include respond-to(sm) {
        max-width: 40%;
        height: 180px;
      }
    }
  }
  
  @include m("horizontal") {
    
    @include respond-to(md) {
      flex-direction: row;
    }
  }
}

.#{$prefix}-page-single {
  width: 100%;
  float: left;
  margin-top: rem(30);
  
  @include respond-to(sm) {
    margin-top: rem(60); 
  }
}

.#{$prefix}-single {

  @include e("header") {
    display: block;
    margin-bottom: rem(30);
    padding-bottom: rem(30);
    border-bottom: 1px solid rgba(#333, 0.4);
  }

  @include e("title") {
    font-size: 29px;
    display: block;
    margin-bottom: 15px;
    font-weight: 800;
    
    @include respond-to(sm) {
      line-height: 64px;
      font-size: 56px;
    }
  }

  @include e("data") {
    color: #555;
  }

  @include e("infodate") {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @include e("conteudo") {
    p {
      font-weight: 400;
      letter-spacing: -0.5px;
      font-size: 20px;
      line-height: 32px;
      color: #333;
    }

    p + p {
      margin-top: rem(20);
    }
  }

  @include e('figure') {
    float: left;
    height: 280px;
    width: 100%;
    
    
    @include respond-to(sm) {
      height: 450px;
    }

    img {
      width: 100%;
      float: left;
      height: 100%;
      object-fit: cover;
      
      @include respond-to(sm) {
        width: auto;
      }
    }
  }

  @include e('conteudo') {
    float: left;
    width: 100%;
    margin-top: 30px;

  }

  @include e("comentarios") {
    width: 100%;
    float: left;
    border-top: 5px solid #ddd;
    margin-top: rem(30);
    padding-top: rem(30);
  }
}
