.#{$prefix}-article--contato {
  .#{$prefix}-title {
    font-size: rem(28);
    margin-bottom: rem(30);
    line-height: 1.2;

    @include respond-to("lg") {
      font-size: rem(36);
    }
  }

  .#{$prefix}-img-center {
    margin-top: rem(30);
  }

  @include respond-to("maxTablet") {
    .row {
      flex-direction: column-reverse;
    }
  }
}
