.home {
  display: block;
  background: url("../images/bg-topo.jpg") center top no-repeat;
}

.odonto-bg-lines {
  position: relative;

  @include respond-to("lg") {
    &:after {
      content: "";
      width: 593px;
      height: 424px;
      position: absolute;
      top: -150px;
      right: -60px;
      padding: rem(106) 0;
      background: url("../images/line-topo.png") center right no-repeat;
      z-index: -1;
    }
  }
}

.odonto-links {
  .box-icon {
    margin: 0 auto;
  }

  @include respond-to("maxTablet") {
    display: block;
    width: 100%;
    overflow: hidden;
    .container {
      padding-right: 0;
    }
  }
}

@include respond-to("maxTablet") {
  .scroll-mobile {
    padding: 15px 15px 15px 0;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    display: flex;
    flex-wrap: nowrap;
  }
}

.box-icon {
  $self: &;

  display: flex;
  align-items: center;

  background-color: cl(white);
  box-shadow: 0 0 23px 0px rgba(cl(black), 0.08);
  border-radius: rem(8);
  max-width: rem(567);

  padding: rem(15) rem(25);
  white-space: initial;

  @include respond-to("lg") {
    padding: rem(30) rem(50);
  }

  @include e("figure") {
    width: 100px;
    height: 100px;
    padding-right: rem(20);

    flex: none;
    display: flex;
    align-items: center;

    @include respond-to("lg") {
      width: 150px;
      height: 150px;
      padding-right: rem(40);
    }

    img {
      max-width: 100%;
    }
  }

  @include e("tit") {
    font-size: rem(20);
    color: cl(btns, black);
    line-height: 1.2;

    @include respond-to("lg") {
      font-size: rem(32);
    }
  }

  @include e("link") {
    display: block;
    margin-top: rem(10);
    font-size: rem(15);

    @include respond-to("lg") {
      font-size: rem(18);
    }
  }

  // Modificadores
  @include m("vertical") {
    flex-direction: column;
    margin-bottom: rem(50);
    max-width: rem(270);
    min-height: rem(300);
    padding: rem(40);

    @include respond-to("lg") {
      min-height: rem(435);
    }

    @include e("figure", $self) {
      margin-bottom: rem(35);
      padding: 0;

      img {
        display: block;
        margin: 0 auto;
      }
    }

    @include e("infos", $self) {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }

    @include e("link", $self) {
      margin-top: auto;
    }
  }

  @include m("small") {
    padding: rem(35);

    @include e("figure", $self) {
      width: rem(110);
      height: rem(100);
      padding-right: rem(30);
    }

    @include e("tit", $self) {
      font-size: rem(20);
    }

    @include e("link", $self) {
      font-size: rem(16);
    }
  }

  @include m("purple") {
    @include e("link", $self) {
      color: cl(purple);
    }
  }

  @include m("orange") {
    @include e("link", $self) {
      color: cl(orange);
    }
  }

  @include m("blue") {
    @include e("link", $self) {
      color: cl(blue);
    }
  }
}

.#{$prefix}-section {
  
  &--center {
    justify-content: center;
    display: flex;
  }
}

.#{$prefix}-section--encontre {
  height: rem(615);
  background: #00d595 url("../images/bg-encontre.jpg") center no-repeat;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;

    @include respond-to("lg") {
      &:after {
        content: "";
        width: 273px;
        height: 254px;
        position: absolute;
        bottom: 0;
        right: 3%;
        background: url("../images/mascote.png") no-repeat;
      }
    }
  }
}

.#{$prefix}-form-center {
  max-width: rem(650);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  .#{$prefix}-icon {
    display: block;
    margin-bottom: rem(27);
  }

  .#{$prefix}-title {
    font-size: rem(36);
    margin-bottom: rem(40);
    color: cl(white);
  }

  .#{$prefix}-form {
    width: 100%;
  }

  .#{$prefix}-btn {
    font-size: rem(16);
    margin: rem(40) auto 0;
  }
}

.#{$prefix}-select {
  width: 100%;
  border-radius: 30px;
  border: 2px solid cl(white);
  position: relative;

  &:after {
    content: "";
    width: 13px;
    height: 13px;
    border-left: 2px solid cl(white);
    border-bottom: 2px solid cl(white);
    position: absolute;
    top: 50%;
    right: 25px;
    z-index: 2;
    color: cl(white);
    transform: translateY(-70%) rotate(-45deg);
  }

  input,
  select {
    display: block;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    color: cl(white);
    padding: rem(15) rem(40);
    font-size: rem(18);
    border: 0;
    line-height: 1;
  }

  // modificadores
  @include m("green") {
    &:after {
      border-color: cl(main, primary) $i;
    }
  }
}

.#{$prefix}-section--central {
  background: #454545;
  padding: rem(60) 0 rem(80);

  @include respond-to("lg") {
    background: #454545 url("../images/bg-central.jpg") center top no-repeat;
    height: rem(1000);
    margin-bottom: -340px;
    padding-top: rem(100);
  }

  @include respond-to("maxTablet") {
    .#{$prefix}-box-central {
      display: flex;
      align-items: center;
      flex-direction: column-reverse;

      img {
        max-width: 100%;
        margin-bottom: 30px;
      }
    }
  }

  .#{$prefix}-title {
    margin-bottom: rem(20);
  }

  .#{$prefix}-text {
    color: cl(white);
    margin-bottom: rem(20);
    max-width: rem(355);
    font-weight: 300;
    line-height: 1.5;
  }

  .#{$prefix}-form {
    max-width: rem(455);
    margin-left: auto;
  }
}

.#{$prefix}-box-central {
  max-width: rem(484);
  margin: 0 auto;

  @include m("small") {
    max-width: rem(420);
  }

  .#{$prefix}-text {
    max-width: rem(350);
  }
}

.#{$prefix}-section--app {
  padding: rem(60) 0;

  @include respond-to("lg") {
    height: rem(755);
    padding: 0;
  }

  .container {
    height: 100%;
  }

  .row {
    height: inherit;

    @include respond-to("maxTablet") {
      flex-direction: column-reverse;
    }

    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: inherit;
    }
  }

  .#{$prefix}-title {
    margin: rem(20) 0 rem(30);
  }

  .#{$prefix}-text {
    margin-bottom: rem(40);
  }

  .imgs-apps {
    display: flex;
    align-items: center;
    margin-bottom: rem(40);

    img {
      margin-right: rem(10);
    }
  }

  .#{$prefix}-btn {
    max-width: rem(260);
  }
}

.#{$prefix}-box-cta {
  max-width: rem(480);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .#{$prefix}-title {
    font-size: rem(42);
    margin-bottom: rem(40);
  }

  .#{$prefix}-text {
    font-weight: 300;
    color: cl(white);
  }
}

.#{$prefix}-box-celular {
  position: relative;
  display: block;
  margin: 0 auto;

  @include respond-to("maxTablet") {
    transform: scale(0.8);
  }

  .pos,
  .mira {
    position: absolute;
  }

  .mira {
    &--primaria {
      top: 40px;
      right: -35px;
    }

    &--secondaria {
      top: 90px;
      right: -55px;
    }

    &--terciaria {
      bottom: 88px;
      right: 50px;
    }
  }

  &:before {
    content: "";
    width: 240px;
    height: 478px;
    background-color: rgba(cl(blackLight), 0.33);
    display: block;
    border-radius: 40px;
    position: absolute;
    top: 110px;
    left: 96px;
    z-index: -1;
  }

  img {
    top: 40px;
    left: -80px;
  }

  // modificadores
  @include m("purple") {
    svg {
      fill: cl(purple);
    }

    &:before {
      background-color: rgba(cl(purple), 0.33);
    }
  }

  @include m("green") {
    svg {
      fill: cl(green);
    }

    &:before {
      background-color: rgba(cl(green), 0.33);
    }
  }

  @include m("orange") {
    svg {
      fill: cl(orange);
    }

    &:before {
      background-color: rgba(cl(orange), 0.33);
    }
  }
}
