.#{$prefix}-article--perguntas-frequentes {
  .#{$prefix}-title {
    font-size: rem(24);
    margin-bottom: rem(55);
  }
}

// abasa
.#{$prefix}-abas-filter {
  display: flex;
  align-items: center;
  margin-bottom: rem(50);

  @include respond-to("maxTablet") {
    overflow: auto;
  }

  li:not(:last-child) {
    border-right: 2px solid #bbbbbb;
    padding-right: rem(20);
    margin-right: rem(20);
  }

  a {
    font-size: rem(18);
    color: #bbbbbb;
    font-weight: 700;

    &:hover,
    &.active {
      color: #333;
      font-weight: 700;
    }
  }
}

.#{$prefix}-perguntas {
  display: block;
  margin-bottom: rem(60);
}

.#{$prefix}-pergunta {
  display: block;
  margin-bottom: 10px;

  &.show {
    display: block;
  }

  &.hide {
    display: none;
  }

  h2 {
    font-size: rem(18);
    font-weight: bold;
    color: cl(white);
    background-color: cl(main, primary);
    padding: rem(20) rem(45) rem(20) rem(30);
    border-radius: rem(5);
    position: relative;
    cursor: pointer;

    @include respond-to("lg") {
      padding: rem(20) rem(30);
    }

    &:after {
      content: "";
      width: 10px;
      height: 10px;
      border-left: 2px solid cl(white);
      border-bottom: 2px solid cl(white);
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%) rotate(-45deg);
    }

    &.active {
      &:after {
        transform: translateY(-50%) rotate(135deg);
      }
    }
  }

  div {
    padding: rem(30) rem(50);
    background-color: #f7f7f7;
    border-bottom-left-radius: rem(5);
    border-bottom-right-radius: rem(5);

    font-size: rem(16);
    color: #707070;

    display: none;
  }
}

.helper-mobile {
  display: none;
}

@include respond-to("maxTablet") {
  .helper-mobile {
    display: flex;
    align-items: center;

    font-size: 10px;
    text-transform: uppercase;
    color: #999;

    margin-bottom: 10px;

    svg {
      fill: #999;
      margin-right: 5px;
      width: 24px;
      height: 24px;
    }
  }
}
