.#{$prefix}-article--nosso-cliente {
  padding-top: rem(100);
  padding-bottom: rem(100);

  & + .#{$prefix}-article {
    background-color: #f7f7f7;
  }
}

.vantagens-empresa {
  @extend .grid, .grid-gap-medium, .grid-col-5, .grid-row-2;

  @include respond-to("maxTablet") {
    display: flex $i;
    justify-content: flex-start $i;

    > li {
      margin-right: 30px;
    }
  }
}


.odonto-box-cta .odonto-text {
  text-align: justify;
}