.#{$prefix}-article--vantagens {
  padding: rem(120) 0 rem(100);
  background-color: #f7f7f7;

  .#{$prefix}-titles {
    margin-bottom: rem(60);
  }
}

.#{$prefix}-article--servicos {
  padding-top: rem(75);
  padding-bottom: rem(75);
  background: #fe914e url("../images/bg-servicos.jpg") center no-repeat;
  background-size: auto 100%;

  .#{$prefix}-title {
    font-size: rem(36);
    margin-bottom: rem(75);
  }

  .#{$prefix}-btn {
    display: flex;
    max-width: rem(240);
    margin: rem(80) auto 0;
  }
}

.box-retangulo {
  position: relative;
  width: rem(407);
  display: block;
  margin: 0 auto;

  @include respond-to("maxTablet") {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  &--orange {
    svg {
      fill: cl(orange);
    }
  }

  &--purple {
    svg {
      fill: cl(purple);
    }
  }

  &--green {
    svg {
      fill: cl(green);
    }
  }

  // active
  &.active {
    .img-maks {
      transform: translateX(0);
    }

    .pos {
      opacity: 1;
    }

    .sombra {
      transform: translateX(-15%);

      @include respond-to("maxTablet") {
        transform: translateX(-8%);
      }
    }

    .icone {
      transform: translateY(-10px);
    }

    .mira {
      &--principal {
        animation: brilho 6s 1.3s cubic-bezier(0.04, 0, 0.2, 1) infinite;
      }

      &--secondario {
        animation: brilho 5s 0.6s cubic-bezier(0.04, 0, 0.2, 1) infinite;
      }

      &--terciario {
        animation: brilho 5s cubic-bezier(0.04, 0, 0.2, 1) infinite;
      }

      &--quartenario {
        animation: brilho 6s 1s cubic-bezier(0.04, 0, 0.2, 1) infinite;
      }
    }
  }

  .pos {
    position: absolute;
    opacity: 0;
    transition: opacity 0.6s cubic-bezier(0.04, 0, 0.2, 1),
      transform 0.6s cubic-bezier(0.04, 0, 0.2, 1);
    will-change: opacity, transform;
  }

  // sobra
  .sombra {
    position: absolute;
    top: 35px;
    left: 0;
    z-index: -1;

    @include respond-to("maxTablet") {
      top: 10px;
      max-width: 100%;
      height: auto;
    }
  }

  .img-maks {
    transform: translateX(-10px);
    transition: opacity 0.6s cubic-bezier(0.04, 0, 0.2, 1),
      transform 0.6s cubic-bezier(0.04, 0, 0.2, 1);
    will-change: opacity, transform;
    clip-path: url("#clip-retangulos");

    @include respond-to("maxTablet") {
      width: 100%;
      height: 100%;
    }
  }

  .icone {
    bottom: 45px;
    right: 30px;

    @include respond-to("maxTablet") {
      bottom: 10px;
    }
  }

  .mira {
    position: absolute;
    opacity: 0;
    transform: scale(0);

    &--principal {
      top: 10%;

      @include respond-to("maxTablet") {
        top: 8%;
        right: 0;
      }
    }

    &--secondario {
      top: 45%;
      left: -20px;
      z-index: 9;
      fill: white;

      @include respond-to("maxTablet") {
        left: 0;
      }
    }

    &--terciario {
      right: 0;
      bottom: 30px;
    }

    &--quartenario {
      top: 25%;
      right: -20px;

      @include respond-to("maxTablet") {
        right: 0;
      }
    }
  }
}

.clip-path {
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

@keyframes brilho {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.grid {
  display: grid;
  justify-content: center;
}

.grid-gap-big {
  grid-gap: 60px;
}

.grid-gap-medium {
  grid-gap: 30px;
}

.grid-col-4 {
  grid-template-columns: repeat(4, 213px);
}

.grid-col-5 {
  grid-template-columns: repeat(5, 213px);
}

.grid-row-2 {
  grid-template-rows: repeat(2, 205px);
}

.#{$prefix}-clientes.owl-carousel {
  img {
    width: initial;
    max-width: 100%;
    margin: 0 auto;
  }

  .owl-next,
  .owl-prev {
    &:after {
      color: cl(blackLight);
      display: block;
      font-size: rem(38);
    }
  }

  .owl-prev {
    left: 0;

    &:after {
      content: "<";
    }
  }

  .owl-next {
    right: 0;

    &:after {
      content: ">";
    }
  }
}

.vantagens-pra-voce {
  @extend .grid, .grid-gap-big, .grid-col-4, .grid-row-2;

  @include respond-to("maxTablet") {
    display: flex $i;
    justify-content: flex-start $i;

    > li {
      margin-right: 30px;
    }
  }
}
