.#{$prefix}-article--rede {
  @include respond-to("maxTablet") {
    padding: 0;

    > .#{$prefix}-btn {
      border-radius: 0;
    }

    .row {
      padding: 15px 15px 60px;
    }
  }

  @include respond-to("lg") {
    .row {
      > div:first-child {
        border-right: 1px solid #f5f5f5;
        padding-right: rem(50);
      }
    }
  }

  .#{$prefix}-title {
    font-size: rem(24);
    margin-bottom: rem(30);
  }
}

.box-encontre {
  display: flex;
  align-items: stretch;

  background-color: #f5f5f5;
  border-radius: rem(5);
  border: 1px solid #d7d7d7;
  margin-bottom: rem(15);

  flex-direction: column;

  text-align: center;

  @include respond-to("lg") {
    flex-direction: row;
    text-align: left;
  }

  > div:not(:last-child) {
    padding: rem(30);
    border-bottom: 1px solid #d7d7d7;

    @include respond-to("lg") {
      border-bottom: 0;
      border-right: 1px solid #d7d7d7;
    }
  }

  &-row {
    display: flex;
    flex-direction: column;
    font-size: rem(14);
  }

  @include e("info") {
    flex-grow: 1;

    h2 {
      font-size: rem(16);
      margin-bottom: rem(22);
    }
  }

  @include e("telefone") {
    padding-left: rem(16) $i;
    padding-right: rem(16) $i;

    display: flex;
    flex-direction: column;

    p {
      font-size: rem(24);
      color: cl(main, primary);

      small {
        font-size: rem(18);
      }
    }

    a {
      font-size: rem(16);
      font-weight: bold;
      text-align: center;
      color: #5e5e5e;
      text-transform: uppercase;
      margin-top: auto;

      &:hover {
        color: #333;
      }
    }
  }

  @include e("action") {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
    padding: rem(20);

    @include respond-to("lg") {
      width: 85px;
      padding-right: rem(20);
      padding-left: rem(20);
    }

    a {
      font-size: rem(14);
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      color: cl(main, primary);

      &:after {
        flex: none;
        content: "";
        width: 15px;
        height: 15px;
        border-left: 2px solid cl(main, primary);
        border-bottom: 2px solid cl(main, primary);
        display: block;
        transform: rotate(-45deg);
        margin: 5px auto 0;
      }
    }
  }
}
