.#{$prefix}-page--sobre-nos {
  .#{$prefix}-title {
    font-size: rem(36);
    display: block;
    margin-bottom: rem(50);
  }

  .#{$prefix}-btn {
    width: initial;
    display: inline-flex;
    margin-top: rem(50);
    padding-top: rem(15);
    padding-bottom: rem(15);
  }

  .odonto-text {
    text-align: justify;
  }
}

.#{$prefix}-article--perfeito {
  padding-top: rem(55);
  padding-bottom: 0;
  background-color: cl(main, primary);

  .row {
    margin-bottom: -60px;
  }

  // @include respond-to("lg") {
  //   .box-icon {
  //     margin-bottom: -60px;
  //   }
  // }

  @include respond-to("maxTablet") {
    .container {
      padding-right: 0;
    }
  }
}

.#{$prefix}-article--planos-odontologicos {
  padding-top: rem(60);
  padding-bottom: rem(60);

  @include respond-to("lg") {
    padding-top: rem(120);
    padding-bottom: rem(120);
  }

  .btns-group {
    margin-top: rem(50);
  }
}

.#{$prefix}-article--rede-propria {
  padding-top: rem(80);
  padding-bottom: rem(80);
  background-color: #f8f8f8;
}

.#{$prefix}-article--rede-credenciada {
  padding-top: rem(180);
  padding-bottom: rem(180);

  @include respond-to("maxTablet") {
    .row {
      flex-direction: column-reverse;
    }

    .#{$prefix}-img-center {
      margin-bottom: rem(60);
    }
  }
}

.#{$prefix}-img-center {
  display: block;
  margin: 0 auto;

  img {
    display: block;
    margin: 0 auto;
    max-width: 95%;
  }
}

.cards-rede {
  display: flex;
  align-items: stretch;

  > li {
    margin-bottom: rem(30);
  }
}

.#{$prefix}-card {
  padding: rem(22) rem(30);
  background-color: cl(white);
  border-radius: rem(10);
  font-style: normal;
  height: 100%;

  display: flex;
  flex-direction: column;

  @include e("title") {
    display: block;
    font-size: rem(18);
    font-weight: 900;
    color: cl(main, primary);
    margin-bottom: rem(15);
  }

  @include e("desc") {
    display: block;
    font-size: rem(16);
    font-weight: 300;
    margin-bottom: rem(10);
  }

  @include e("small") {
    display: block;
    font-size: rem(12);
    line-height: 1.2;
    color: #909090;
    margin-top: auto;
  }
}




// SEÇÃO DE REDES
.#{$prefix}-bloco-unidade {
  width: 100%;
  float: left;
}

.#{$prefix}-galeria-redes {
  width: 100%;
  float: left;

  @include e('item') {
    width: 100%;
    float: left;
  }
  
  @include e('link') {
    width: 100%;
    float: left;
    height: rem(280);
    
    img {
      height: 100%;
      object-fit: cover;
    }
  }
    
  @include e('options') {
    width: 100%;
    float: left;
    display: flex;
    margin-top: rem(15);
    justify-content: space-between;

    .btn {
      font-family: 'Nunito',sans-serif;
      font-size: rem(16);
      font-style: normal;
      background: #5bcd85;
      color: #fff;
      padding: 10px;
      width: 49%;
      max-width: 100%;
      text-align: center;
      border-radius: 3px;

      &:hover {
        background: #19b151;
      }

      @include m('waze') {
        background: #47cfee;
        
        &:hover {
          background: #33abc6;
        }
      }
    }
  }
  

}

.#{$prefix}-galeria-address {
  width: 100%;
  float: left;
  padding-bottom: 15px;

  @include e('title') {
    font-family: 'Nunito',sans-serif;
    font-size: rem(23);
    font-style: normal;
    font-weight: 900;
    color: cl(main, primary);
    margin: rem(15) rem(0);
  }
  
  @include e('desc') {
    font-family: 'Nunito',sans-serif;
    font-size: rem(16);
    font-style: normal;
    font-weight: 300;
    margin-bottom: rem(10);
  }
  
  @include e('small') {
    font-family: 'Nunito',sans-serif;
    font-size: rem(16);
    font-style: normal;
    line-height: 1;
    color: #909090;
    margin-top: auto;
  }
}