.blocoTable {
  width: 700px;
  margin: 0 auto;
  border: 0;
}

.linhaVazia {
  width: 260px;
  height: 30px;
  padding: 10px;
}
.tipoPlanoProcedimentosPlus {
  background-color: #008d46;
  color: #ffffff;
  width: 140px;
  height: 30px;
  padding: 10px;
  text-align: center;
}
.tipoPlanoProcedimentosPrev {
  background-color: #00adee;
  color: #ffffff;
  width: 140px;
  height: 30px;
  padding: 10px;
  text-align: center;
}
.tipoPlanoProcedimentosMaster {
  background-color: #f99d1d;
  color: #ffffff;
  width: 140px;
  height: 30px;
  padding: 10px;
  text-align: center;
}
.alignColspan {
  text-align: center;
}
.linhaCinzaTable {
  background-color: #a8a9ad;
  color: #ffffff;
  height: 30px;
  padding: 10px;
}
.linhaCinzaClaroTable {
  background-color: #e7e7e8;
  color: #000000;
  height: 30px;
  padding: 10px;
}
.linhaCinzaEscuroTable {
  background-color: #231f20;
  height: 30px;
  padding: 10px;
  color: #ffffff;
  font-weight: bold;
}
.linhaCinzaEscuroInicioTable {
  background-color: #231f20;
  height: 30px;
  padding: 10px;
  color: #ffffff;
  font-weight: bold;
}
.totalParcial {
  text-align: center;
  height: 30px;
  padding: 10px;
  font-weight: bold;
}
.totalParcial2 {
  text-align: center;
  height: 30px;
  padding: 10px;
  font-weight: bold;
}
.totalParcialPlus {
  background-color: #e0efe4;
}
.totalParcialPrev {
  background-color: #e2f4fd;
}
.totalParcialMaster {
  background-color: #fef3e3;
}
.totalParcialPlusEscuro {
  background-color: #ccdad1;
  text-align: center;
  height: 30px;
  padding: 10px;
  font-weight: bold;
}
.totalParcialPrevEscuro {
  background-color: #d0e0e9;
  text-align: center;
  height: 30px;
  padding: 10px;
  font-weight: bold;
}
.totalParcialMasterEscuro {
  background-color: #e9e0d3;
  text-align: center;
  height: 30px;
  padding: 10px;
  font-weight: bold;
}
.linhaCinzaEscuroPlusTable {
  background-color: #313635;
  height: 30px;
  padding: 10px;
}
.linhaCinzaEscuroPrevTable {
  background-color: #373d42;
  height: 30px;
  padding: 10px;
}
.linhaCinzaEscuroMasterTable {
  background-color: #403c38;
  height: 30px;
  padding: 10px;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border: 0;

  td,
  th {
    border: 0;
    padding: 0.75rem;
    vertical-align: top;
  }
}
