.#{$prefix}-section--vantagens {
  padding: rem(60) 0 rem(160);

  @include respond-to("lg") {
    padding: rem(130) 0 rem(120);
  }

  .btns-group {
    align-self: flex-end;
  }

  @include respond-to("maxTablet") {
    .container {
      padding: 0;
    }

    .btns-group,
    .#{$prefix}-titles {
      padding-right: 20px;
      padding-left: 20px;
    }

    picture {
      display: block;
      margin-top: 30px;

      img {
        width: 100%;
      }
    }

    .scroll-mobile {
      margin-top: -135px;
      margin-bottom: 40px;
    }
  }

  @include respond-to("lg") {
    .scroll-mobile {
      grid-row: 2;
      grid-column: 1/5;
      display: grid;
      grid-template-columns: inherit;
      grid-gap: inherit;
    }
  }
}

.grid-vantagens {
  @include respond-to("lg") {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(3, minmax(auto, 270px));
    grid-gap: 30px;
    grid-template-columns: repeat(4, 270px);
  }
}
@include respond-to("lg") {
  .grid-row-2 {
    grid-row: 2;
  }

  .grid-row-3 {
    grid-row: 3;
  }

  .grid-colunm-4 {
    grid-column: 4;
  }

  .grid-image-bg {
    grid-column-start: 2;
  }
}

.card-icon {
  $self: &;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: rem(40);
  background-color: cl(white);
  box-shadow: 0 0 27px 18px rgba(cl(black), 0.04);
  margin-top: rem(30);
  text-align: center;
  padding: rem(30);
  white-space: initial;

  @include respond-to("maxTablet") {
    width: 270px;
    height: 270px;
    flex: none;
    margin-left: 20px;
    margin-right: 5px;
  }

  @include e("figure") {
    display: block;
    height: 75px;
    margin-bottom: rem(30);

    img {
      max-width: 100%;
    }
  }

  @include e("title") {
    font-size: rem(18);
    color: #373737;
  }

  // modificadores
  @include m("small") {
    padding: rem(15);
    margin-top: 0;

    @include e("figure", $self) {
      max-width: 75px;
      height: auto;
      margin-bottom: rem(25);
    }

    @include e("title", $self) {
      font-size: rem(16);
    }
  }

  @include m("action") {
    margin-top: 0;
    align-items: flex-start;
    justify-content: space-around;
    background-color: cl(main, primary);

    @include e("title", $self) {
      color: cl(white);
      font-size: rem(24);
      font-weight: 900;
      text-align: left;
      letter-spacing: 1px;
    }
    @include e("link", $self) {
      color: cl(white);
    }
  }
}

.btns-group {
  .#{$prefix}-btn {
    margin-top: 10px;
  }
}
