/*!
* Copyright: 2019 Convertte - http://www.convertte.com.br.
* Desenvolvedor(es): Allef Bruno
*/

//==========================================================================
// PREFIX VAR
//==========================================================================
$prefix: "odonto";

//==========================================================================
// STYLES
//==========================================================================

@import "vendor/base";
@import "global/all";
@import "modules/all";
@import "partials/base";
@import "pages/base";

* {
	appearance: none $i;
}

//==========================================================================
// GERAL
//==========================================================================

.#{$prefix}-main {
  min-height: rem(900);
}



// .#{$prefix}-sections {
//   @extend %boxFull;
//   text-align: center;
//   position: relative;
// }

.#{$prefix}-pages {
  padding: rem(80) 0;
}

.#{$prefix}-nofigure {
  background: #67ca75;

  img {
    object-fit: contain;
  }
}

.#{$prefix}-btns {
  display: flex;
  justify-content: center;
  margin: 50px 0 0;
  width: 100%;
}
