.rwmb-image-item {
    background-color: #eee !important;
}

.rwmb-wysiwyg.wp-editor-area {
    color: #000 !important;
}

/* SEPARADORES */


#adminmenu li#toplevel_page_dashboard_sep, #adminmenu li#toplevel_page_dashboard_sep:hover {
    background: rgba(0,0,0,.5) !important;
    /*padding-left: 10px;*/
    pointer-events: none;
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px 0;
}

#adminmenu li#toplevel_page_dashboard_sep .wp-menu-image {
    /*display: none;*/
}